*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: 'Roboto', sans-serif;
}

.contenedor-foto{
    width: 800px;
    position: relative;
    overflow: hidden;
    margin: 40px auto;

}

.contenedor-foto:hover .hover{
    transform: translate(0);
}

.contenedor-foto:hover img{
    transform: scale(1.3);

}

.contenedor-foto img{
    width: 100%;
    height: 100%;
    vertical-align: top;
    transition: transform 1s;
}

.hover{
    position: absolute;
    top: 0;
    text-align: center;
    background: rgb(20, 30, 200, 0.5);
    color: white;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    transform: translate(100%, 100%) rotate(180deg);
    transition: 1s;
}

.hover h1{
    margin-bottom: 20px;
}

